<fieldset>
  <legend>Share new Cookie</legend>
  <div class="form-group">
    <label for="tb-cookie-text">
      Text:
      </label>
      <input type="text" class="form-control" id="tb-cookie-text" />
  </div>
  <div class="form-group">
    <label for="tb-cookie-category">Category:</label>
    <input type="text" id="tb-cookie-category" class="form-control" />
  </div>
  <div class="form-group">
    <label for="tb-cookie-category">Image:</label>
    <input type="text" id="tb-cookie-image" class="form-control" />
  </div>
  <button class="form-control btn btn-primary" id="btn-cookie-share">Share this cookie now!</button>
</fieldset>
